%h3= @oven.name

.cookie-info{'data-id': "oven-#{@oven.id}", 'data-number': @oven.id}
  - if @oven.cookies.any?
    - @oven.cookies.each do |cookie|
      %div{'data-id': "cookie-#{cookie.id}"}
        Cookie in oven: 1 cookie with #{cookie.fillings || "no fillings"}
        %div.retrieve{style: "display: #{cookie.ready? ? 'block' : 'none'}"}
          (Your Cookie is Ready)
          = button_to "Retrieve Cookie", empty_oven_cookie_path(@oven, cookie), class: 'button tiny'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookie_path(@oven), class: 'button'
