%h3= @oven.name

.cookie-info{'data-id': "oven-#{@oven.id}", 'data-number': @oven.id}
  %div{'data-id': "cookie-#{@oven.cookie&.id}"}
    Cookie in oven:
    - if @oven.cookie
      1 cookie with #{@oven.cookie.fillings || "no fillings"}
      %div.retrieve{style: "display: #{@oven.cookie.ready? ? 'block' : 'none'}"}
        (Your Cookie is Ready)
        = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
    - else
      None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
